model: {
  second: {
    voxel_generator {
      point_cloud_range : [0, -40, -3, 70.4, 40, 1]
      # point_cloud_range : [0, -32.0, -3, 52.8, 32.0, 1]
      voxel_size : [0.2, 0.2, 0.4]
      max_number_of_points_per_voxel : 35
    }

    num_class: 1
    voxel_feature_extractor: {
      module_class_name: "VoxelFeatureExtractor"
      num_filters: [32, 128]
      with_distance: false
    }
    middle_feature_extractor: {
      module_class_name: "SparseMiddleExtractor"
      num_filters_down1: [64]
      num_filters_down2: [64, 64]
      
    }
    rpn: {
      module_class_name: "RPN"
      layer_nums: [3, 5, 5]
      layer_strides: [2, 2, 2]
      num_filters: [128, 128, 256]
      upsample_strides: [1, 2, 4]
      num_upsample_filters: [256, 256, 256]
      use_groupnorm: false
      num_groups: 32
    }
    loss: {
      classification_loss: {
        weighted_sigmoid_focal: {
          alpha: 0.25
          gamma: 2.0
          anchorwise_output: true
        }
      }
      localization_loss: {
        weighted_smooth_l1: {
          sigma: 3.0
          code_weight: [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
        }
      }
      classification_weight: 1.0
      localization_weight: 2.0
    }
    # Outputs
    use_sigmoid_score: true
    encode_background_as_zeros: true
    encode_rad_error_by_sin: true

    use_direction_classifier: true # this can help for orientation benchmark
    direction_loss_weight: 0.2 # enough.
    use_aux_classifier: false
    # Loss
    pos_class_weight: 1.0
    neg_class_weight: 1.0

    loss_norm_type: NormByNumPositives
    # Postprocess
    post_center_limit_range: [0, -40, -5.0, 70.4, 40, 5.0]
    use_rotate_nms: true
    use_multi_class_nms: false
    nms_pre_max_size: 1000
    nms_post_max_size: 100
    nms_score_threshold: 0.3 # 0.4 in submit, but 0.3 can get better hard performance
    nms_iou_threshold: 0.1

    use_bev: false
    num_point_features: 4
    without_reflectivity: false
    box_coder: {
      ground_box3d_coder: {
        linear_dim: false
        encode_angle_vector: false
      }
    }
    target_assigner: {
      # anchor_generators: {
      #   anchor_generator_stride: {
      #     sizes: [1.6, 3.9, 1.56] # wlh
      #     strides: [0.4, 0.4, 0.0] # if generate only 1 z_center, z_stride will be ignored
      #     offsets: [0.2, -39.8, -1.78] # origin_offset + strides / 2
      #     rotations: [0, 1.57] # DON'T modify this unless you are very familiar with my code.
      #     matched_threshold : 0.6
      #     unmatched_threshold : 0.45
      #   }
      # }
      anchor_generators: {
        anchor_generator_range: {
          sizes: [1.6, 3.9, 1.56] # wlh
          anchor_ranges: [0, -40, -1.78, 70.4, 40, -1.78] # carefully set z center
          rotations: [0, 1.57] # DON'T modify this unless you are very familiar with my code.
          matched_threshold : 0.6
          unmatched_threshold : 0.45
        }
      }

      sample_positive_fraction : -1
      sample_size : 512
      region_similarity_calculator: {
        nearest_iou_similarity: {
        }
      }
    }
  }
}


train_input_reader: {
  record_file_path: "/root/data/kitti/kitti_train.tfrecord"
  class_names: ["Car"]
  max_num_epochs : 160
  batch_size: 3 # sparse conv use 7633MB GPU memory when batch_size=3
  prefetch_size : 25
  max_number_of_voxels: 6500 # to support batchsize=2 in 1080Ti
  shuffle_points: true
  num_workers: 3
  groundtruth_localization_noise_std: [1.0, 1.0, 0.5]
  # groundtruth_rotation_uniform_noise: [-0.3141592654, 0.3141592654]
  groundtruth_rotation_uniform_noise: [-0.78539816, 0.78539816]
  global_rotation_uniform_noise: [-0.78539816, 0.78539816]
  global_scaling_uniform_noise: [0.95, 1.05]
  # global_random_rotation_range_per_object: [0.7854, 2.356] # pi/4 ~ 3pi/4
  global_random_rotation_range_per_object: [0, 0] # pi/4 ~ 3pi/4
  anchor_area_threshold: 1
  remove_points_after_sample: false
  groundtruth_points_drop_percentage: 0.0
  groundtruth_drop_max_keep_points: 15
  database_sampler {
    database_info_path: "/root/data/kitti/kitti_dbinfos_train.pkl"
    sample_groups {
      name_to_max_num {
        key: "Car"
        value: 15
      }
    }
    database_prep_steps {
      filter_by_min_num_points {
        min_num_point_pairs {
          key: "Car"
          value: 5
        }
      }
    }
    database_prep_steps {
      filter_by_difficulty {
        removed_difficulties: [-1]
      }
    }
    global_random_rotation_range_per_object: [0, 0]
    rate: 1.0
  }

  remove_unknown_examples: false
  remove_environment: false
  kitti_info_path: "/root/data/kitti/kitti_infos_train.pkl"
  kitti_root_path: "/root/data/kitti"
}

train_config: {
  optimizer: {
    adam_optimizer: {
      learning_rate: {
        exponential_decay_learning_rate: {
          initial_learning_rate: 0.0002
          decay_steps: 18570
          decay_factor: 0.8
          staircase: true
        }
      }
      weight_decay: 0.0001
    }
    use_moving_average: false

  }
  inter_op_parallelism_threads: 4
  intra_op_parallelism_threads: 4
  steps: 198080 # 1238 * 120
  steps_per_eval: 6190 # 1238 * 5
  # steps: 296960 # 1238 * 120
  # steps_per_eval: 9280 # 1856 * 5
  save_checkpoints_secs : 1800 # half hour
  save_summary_steps : 10
  enable_mixed_precision: false # for fp16 training, but sparseconvnet don't support fp16
  loss_scale_factor : 512.0
  clear_metrics_every_epoch: false
}

eval_input_reader: {
  record_file_path: "/root/data/kitti/kitti_val.tfrecord"
  class_names: ["Car"]
  batch_size: 3
  max_num_epochs : 160
  prefetch_size : 25
  max_number_of_voxels: 20000
  shuffle_points: false
  num_workers: 3
  anchor_area_threshold: 1
  remove_environment: false
  kitti_info_path: "/root/data/kitti/kitti_infos_val.pkl"
  # kitti_info_path: "/root/data/kitti/kitti_infos_test.pkl"
  kitti_root_path: "/root/data/kitti"
}
